
html {
    height: 100%
}
body {
    background: linear-gradient(175deg, rgba(49,49,50,1) 0%, rgba(22,22,24,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Roboto';
}
.container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 25% 50% 25%;
    row-gap: 5em;
}
.logo {
    width: 7em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 2.5em;
    padding-top: 2.5em;
    position: fixed;
    float: left;
}
#menu {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Roboto';
    padding-top: 2.5em;
       
}
a {
    color:#dee3e0;
    font-family: 'Roboto';
    font-size: larger;
    margin: 0.15em;
}
#name {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Roboto';
    color: #dee3e0;
    font-weight: lighter;
    padding-top: 1.5em;
    font-size: 3em;
}
#tags {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: xx-large;
    margin-top: 1.5em;
    color: #FF5916;
}
#tags2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: xx-large;
    margin-top: 1.5em;
    color: #3971eb;
}
#headline {
    font-size: 3em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    font-family: 'Roboto';
    color: #dee3e0;
}
#projekte {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    font-family: 'Roboto';
    color: #dee3e0;
    font-size: x-large;
    margin-top: 5em;
}
#gridforfree {
    grid-template-rows: auto auto;
    grid-template-columns: 33% 33% 33%;
    display: grid;
    margin-bottom: 5em;
}
#forfree {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Roboto';
    color: #dee3e0;
    font-size: large;
    margin-bottom: 5em;
}
#box1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(248, 241, 241, 0.137);
    color: #dee3e0;
    width: 13em;
    height: 15em;
    border-radius: 3%;
    padding: 1em 1em 1em 1em;
}
#box2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(248, 241, 241, 0.137);
    opacity: .5;
    width: 13em;
    height: 15em;
    border-radius: 3%;
    padding: 1em 1em 1em 1em;
}
#box3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(248, 241, 241, 0.137);
    color: #dee3e0;
    width: 13em;
    height: 15em;
    border-radius: 3%;
    padding: 1em 1em 1em 1em;
}
.titel {
    font-size: smaller;
}
.datum {
    font-size: smaller;
    color: #FF5916;
}
#kontakt {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    font-family: 'Roboto';
    color: #dee3e0;
    font-size: large;
    margin-bottom: 5em;
}
.svg-icon {
    width: 2em;
    height: 2em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #FF5916;
  }
  
  .svg-icon circle {
    stroke: #FF5916;
    stroke-width: 1;
  }
  .svg-icon2 {
    width: 2em;
    height: 2em;
  }
  
  .svg-icon2 path,
  .svg-icon2 polygon,
  .svg-icon2 rect {
    fill: #3971eb;
  }
  
  .svg-icon2 circle {
    stroke: #3971eb;
    stroke-width: 1;
  }
  @media only screen and (max-width: 600px)
  {
      .logo {
          width: 2em;
          font-family: 'Roboto';
      }
  }