h1, h2, h3 { margin:0; padding:0; font-family: 'Roboto', sans-serif; font-style:normal; font-weight: normal;}
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; font-family: 'Roboto', sans-serif;}
#wrapper { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background:none;  }
#wrapper_padding { margin: 10px; display: block;  }
#box { min-width: 100px; min-height: 100px; position: absolute; background-color: #FF5916; right: 0px; top: 0px;}
#box1 { min-width: 50px; min-height: 50px; position: absolute; background-color: #FFFFFF; right: 22px; top: 22px;}
#grid1 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:auto; background:none;  }
#grid1_padding { margin: 10px; display: block;  }
#grid2 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:auto; background:none;  }
#grid2_padding { margin: 10px; margin-bottom: 150px; display: block;  }
#freelancer { vertical-align: top; position:relative; display: inline-block; margin:100px 0px 0px 0px;width:288%; min-height:120px; background:none;  }
#freelancer_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:2.5em; font-family: 'Roboto', sans-serif;  }
#tags { vertical-align: top; position:relative; display: inline-block; margin:50px 0px 0px 0px;width:289%; min-height:190px; background:none;}
#tags_padding { margin: 10px; display: block;  }
#projekte { vertical-align: top; position:relative; display: inline-block; margin:100px 0px 0px 0px;width:289%; min-height:190px; background:none;  }
#projekte_padding { margin: 10px; display: block;  }
#heading_2 { vertical-align: bottom; position:relative; display: inline-block; width:880px; height:170px; background:none;  }
.textstyle3 { font-size: 1.15em; font-family: 'Roboto', sans-serif; color:#FF5916;  }
#textstyle4 { font-size: 2em; font-family: 'Roboto', sans-serif; color:#000000; margin-bottom: 40px; }
.textstyle5 { font-size: 1.5em; font-family: 'Roboto', sans-serif; color:#000000;}
.datum { font-size: 0.8em; color: #5C615E; font-family: 'Roboto', sans-serif; color:#000000;}
.titel { font-size: 0.8em; font-family: 'Roboto', sans-serif; color:#000000;}
#grid3 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:auto; background:none;  }
#grid3_padding { margin: 10px; display: block;  }
#grid4 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:auto; background:none;  }
#grid4_padding { margin: 10px; display: block;  }
#grid5 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:auto; background:none;  }
#grid5_padding { margin: 10px; display: block;  }
#grid6 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:auto; background:none;  }
#grid6_padding { margin: 10px; display: block;  }
#footer { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FF5916; box-shadow: 0 50vh 0 50vh #FF5916; }
#footer_padding { margin: 10px; display: block;  }
#footer_grid1 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#footer_grid1_padding { margin: 10px; display: block;  }
#footer_grid2 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#footer_grid2_padding { margin: 10px; display: block;  }
#heading_walden { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 0px; background:none; color:#FF5916; font-size: 49px;  }
#logo1 { margin-top: -67px;}
#heading_it { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 0px; background:none; color:#FFFFFF; font-size:49px;}
#logo2	{ margin-top: -15px; margin-left: 160px; display:inline-block;}
#footer_grid3 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#footer_grid3_padding { margin: 10px; display: block;  }
#footer_grid4 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#footer_grid4_padding { margin: 10px; display: block;  }
#kontakt {font-size: 1.5em; color: #FFFFFF;}
#footer_grid5 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#footer_grid5_padding { margin: 10px; display: block;  }
#footer_grid6 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#footer_grid6_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 450px)
{
		#grid1 { width:100%;  }
		#grid2 { width:100%;  }
		#freelancer { vertical-align: top; display: inline-block; margin:100px 0px 0px 0px; width:100%; min-height:120px;  }
		#heading_2 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:170px; background:none;  }
		#tags { vertical-align: top; display: inline-block; margin:50px 0px 0px 0px; width:100%; min-height:auto; }
		#projekte { vertical-align: top; display: inline-block; margin: 450px 0 0 0; width:100%; min-height:auto;  }
		#textstyle4 { font-size: 2em; font-family: 'Roboto', sans-serif; color:#000000; margin-bottom: 40px; margin-top: 310px; position: relative; }
		#grid3 { width:100%;  }
		#grid4 { width:100%;  }
		#grid5 { width:100%;  }
		#grid6 { width:100%;  }
		#box { min-width: 50px; min-height: 50px; position: absolute; background-color: #FF5916; right: 0px; top: 0px;}
		#footer_grid1 { width:100%;  }
		#footer_grid2 { width:100%;  }
		#logo1 { margin-top: -217px;}
		#footer_grid3 { width:100%;  }
		#footer_grid4 { width:100%;  }
		#footer_grid5 { width:100%;  }
		#footer_grid6 { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#grid1 { width:100%; }
		#grid2 { width:100%;  }
		#freelancer { vertical-align: top; display: inline-block; margin:100px 0px 0px 0px; width:100%; min-height:120px;  }
		#heading_2 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:170px; background:none;  }
		#tags { vertical-align: top; display: inline-block; margin:50px 0px 0px 0px; width:100%; min-height:190px; }
		#projekte { vertical-align: top; display: inline-block; margin:230px 0px 0px 0px; width:100%; min-height:190px;  }
		#textstyle4 { font-size: 2em; font-family: 'Roboto', sans-serif; color:#000000; margin-bottom: 40px; margin-top: 310px; position: relative; }
		#grid3 { width:100%;  }
		#grid4 { width:100%;  }
		#grid5 { width:100%;  }
		#grid6 { width:100%;  }
		#box { min-width: 50px; min-height: 50px; position: absolute; background-color: #FF5916; right: 0px; top: 0px; }
		#footer_grid1 { width:100%;  }
		#footer_grid2 { width:100%;  }
		#logo1 { margin-top: -217px;}
		#footer_grid3 { width:100%;  }
		#footer_grid4 { width:100%;  }
		#footer_grid5 { width:100%;  }
		#footer_grid6 { width:100%;  }
}
@media only screen and (max-width: 768px)
{
		#grid1 { width:100%;  }
		#grid2 { width:100%;  }
		#freelancer { vertical-align: top; display: inline-block; margin:100px 0px 0px 0px; width:100%; min-height:120px;  }
		#heading_2 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:170px; background:none;  }
		#tags { vertical-align: top; display: inline-block; margin:50px 0px 0px 0px; width:100%; min-height:auto; }
		#projekte { position: relative; width:100%; min-height:190px;  }
		#textstyle4 { font-size: 2em; font-family: 'Roboto', sans-serif; color:#000000; margin-bottom: 40px; margin-top: 310px; position: relative; }
		#grid3 { width:100%;  }
		#grid4 { width:100%;  }
		#grid5 { width:100%;  }
		#grid6 { width:100%;  }
		#box { min-width: 50px; min-height: 50px; position: absolute; background-color: #FF5916; right: 0px; top: 0px;}
		#footer_grid1 { width:100%;  }
		#footer_grid2 { width:100%;  }
		#logo1 { margin-top: -217px;}
		#footer_grid3 { width:100%;  }
		#footer_grid4 { width:100%;  }
		#footer_grid5 { width:100%;  }
		#footer_grid6 { width:100%;  }
}